body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#root {
  margin-top: 200px;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
